version: '3.8'

services:
  gateway:
    build: ./gateway
    container_name: energisa_gateway
    expose:
      - "3000"
    environment:
      - API_SECRET_KEY=sua_chave_secreta_segura
      - CRM_SECRET=cnOOJJCg8VK3W11xOo6vhaHd4RNTP-ALT06#cs#I #
    shm_size: '2gb'
    restart: always

  gestor:
    build: ./gestor
    container_name: energisa_gestor
    expose:
      - "8000"
    environment:
      - GATEWAY_URL=http://gateway:3000
    depends_on:
      - gateway
    volumes:
      - ./gestor_dados:/app/dados
      - ./gestor_faturas:/app/faturas_storage

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=/api
        - VITE_GATEWAY_URL=/gateway
    container_name: energisa_frontend
    ports:
      - "3000:80"
    depends_on:
      - gestor
      - gateway
