# Ignorar ambiente virtual e cache do Python
__pycache__/
*.py[cod]
venv/
.env

# Ignorar a pasta de sessões (cada servidor deve ter a sua)
sessions/

# Ignorar arquivos do sistema operacional ou IDE
.vscode/
.idea/
.DS_Store